body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gainsboro;
}



p{
    font-size: 36px;
}
.image {
    text-align: center;
}

img {
    width: 1500px;
    height: 800px;
}

.text_decoration {
    text-align: center;
    font-size: 48px;
    color: rgba(10, 5, 35, 0.987);
    margin-left: 10px;
    
}

.text_decor {
    font-size: 56px;
    margin-left: 40px;
    color: #1b1e79;
}
